# Logs
opt/

.DS_Store

npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

#IDEs
.idea

#config files
ormconfig.json
src/config.ts

#debugger
.vscode



# code testing coverage
coverage

/upload/*
/static/*
/public/*
src/static/tmp
src/static/upload

# compiled output
/dist
/node_modules

# Logs
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


package-lock.json
fe-utility-tools/package-lock.json

*.tar.gz
